.about{
    padding-top: 400px;
    padding-bottom: 400px;
    background-image: url(../img/cover2.webp);
    background-size: cover;
    background-position: top;
}

.about h1{
    font-family: klee one !important;
}

.inTouch{
    background-color: rgb(12, 12, 12);
    padding: 200px 0;
    font-family: klee one;
}

.inTouch p{
    font-family: klee one;
}


.button{
    margin-top: 15px;
    background: transparent;
    padding: 14px 52px;
    border-radius: 0;
    color: white;
    border: 1px solid purple;
}