.about{
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    background-position: top;
}

.about h1{
    font-size: 25px;
    color: black;
}

.inTouch{
    background-color: #ffffff;
    padding: 150px 0;
    border: 1px solid #eee;
}

.inTouch h1{
    color: black;
    font-size: 17px;
    font-weight: 400 !important;
}

.inTouch p{
    text-align: justify;
    color: #333;
    font-weight: 300 !important;
    font-size: 18px !important;
}


.button{
    margin-top: 15px;
    background: #498a84;
    padding: 14px 52px;
    border-radius: 30px;
    color: #fff;
    border: 1px solid #ccc;
}