.Footer{
    background: white;
}

.Footer p{
    padding: 0px 2%;
    color: white;
    font-family: klee one;
}

.Footer h1{
    padding: 0px 2%;
    color: white;
}

.footerCont{
    padding: 15rem 0;
}
.Footer a{
    color: rgb(42, 42, 42);
    font-weight: 500;
    text-align: left;
    /* font-family: Rajdhani; */
}


.Footer button{
    background: transparent;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    border: 0;
    padding: 15px 0px;
    margin: 20px 10px;
}

.footerLink{
    margin-top: 0rem;
}

.footerMap{
    height: 300px !important;
    width: 100% !important;
    max-height: 350px !important;
}
