.cover {
    background-image: url(../img/cover1.webp);
    background-size: cover;
    background-position: bottom;
}

.myProgress{
    height: 5px !important;
    width: 100%;
    margin-bottom: 20px;
}

.myProgress > div{
    background: purple !important;
}


.cover h1{
    font-weight: 500;
    color: white;
    font-family: jua;
}

.headingLabel{
    color: rgb(255, 228, 255) !important;
}

.cover p{
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-family:klee one !important;
    font-weight: 400;
}

.lebel{
    font-family: klee one !important;
}

.preHeading{
    color: rgb(224, 224, 224) !important;
    font-size: 30px !important;
}

.headerContent{
    padding: 20% 0;
    width: 100%;
}

.cvBtn{
    background: purple;
    padding: 17px 16px;
    border-radius: 50px;
    border: none;
    width: 180px;
    z-index: 1; 
    transition: 0.7s;
}

.cvBtn:hover{
    background: rgb(33, 0, 33);
    padding: 17px 16px;
    border-radius: 50px;
    border: none;
    width: 180px;
    transition: 0.7s;
}

.cvBtn:focus{
    background: rgb(33, 0, 33);
    box-shadow: unset;
}


/* About section */
.about{
    padding-top: 200px;
    padding-bottom: 200px;
    color: rgb(51, 51, 51);
    font-family: klee one;
    font-weight: 500 !important;
}

.about i{
    color: purple;
}
.about > div{
    display: flex;
    text-align: center;
}

