.cover {
    background-size: cover;
    background-position: bottom;
    padding: 1rem 1rem;
}

.headerText{
    padding: 100px 0;
}


.cover h1 {
    font-weight: 500;
    color: rgb(28, 28, 28);
}

.headingLabel {
    color: rgb(72, 72, 72) !important;
}

.cover p {
    text-align: justify;
    font-weight: 400 !important;
    font-size: 18px;
    color: rgb(103, 103, 103) !important;
    font-weight: roboto !important;
}

.cvBtn {
    margin-top: 15px;
    background: #498a84;
    padding: 14px 52px !important;
    border-radius: 30px !important;
    color: #fff;
    border: 1px solid #ccc;
    transition: 0.8s !important;
}

.cvBtn:hover {
    margin-top: 15px;
    background: #366661;
    padding: 14px 52px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #ccc;
    transition: 0.8s !important;
}

.cvBtn:focus {
    background: #498a84;
}


/* About section */
.about {
    padding-top: 10rem;
    padding-bottom: 10rem;
    color: rgb(51, 51, 51);
    font-weight: 400 !important;
    font-size: 18px;
}

.about i {
    color: #366661;
}

.about .text{
    color: #444;

    text-align: justify !important;
}

.about>div {
    
    padding: 0 1%;
}

.header-img {
    border-radius: 50% !important;
}


/* Progress */

.progressbar{
    padding: 8rem 0;
    background-color: #ffffff;
}

.myProgress{
    width: 90% !important;
    height: 8px!important;
    background: #efefef !important;
    border-radius: 39px !important;
}

.progressBar{
    width: 75%;
    background: #82a7b5 !important;
}

.progressTitle{
    text-align: center;
}

.progressText{
    text-align: center;
    margin: 0 20%;
    text-align: justify;
}

.lebel{
    color: #5e5e5e!important;
    font-size: 18px;
    margin-top: 30px;
}