.topbar {
    background: transparent;
}

.topbar ul {

    display: flex;
    right: 0 auto;
    margin-left: auto;
}

.link {
    color: #1d3734 !important;
    font-size: 18px;
    padding: 10px 0px !important;
    margin: 0px 20px;
    font-weight: 400;

}

.link:hover {
    color: #1d3734 !important;
    transition: 0.3s;
    border-radius: 0px 0px 0px 6px !important;

}

.linkActive {
    color: #1d3734 !important;
    font-size: 18px;
    padding: 10px 0px !important;
    margin: 0px 20px;
    font-weight: 400;
    border-radius: 0px 0px 0px 6px !important;
}